<head>
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% if page.url == "/index.html" %}
      {{ site.title }} &middot; {{ site.tagline }}
    {% else %}
      {{ page.title }} &middot; {{ site.title }}
    {% endif %}
  </title>

  <!-- Meta: URL -->
  <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
  <meta property="og:url" content="{{ site.url }}{{ page.url }}"/>

  {% if page.featured_image %}
    <!-- Meta: Images -->
    <link rel="image_src" href="{{ site.url }}/assets/featured-images/{{ page.featured_image }}"/>
    <meta property="og:image" content="{{ site.url }}/assets/featured-images/{{ page.featured_image }}"/>
    <meta name="twitter:image:src" content="{{ site.url }}/assets/featured-images/{{ page.featured_image }}">
  {% endif %}

  {% if page.title %}
      <!-- Meta: Title -->
      <meta name="title" content="{{ page.title }} - {{ site.title }}"/>
      <meta property="og:title" content="{{ page.title }} - {{ site.title }}"/>
      <meta name="twitter:title" content="{{ page.title }} - {{ site.title }}">
  {% endif %}

  {% if page.excerpt %}
    <!-- Meta: Description -->
    <meta name="description" content="{{ page.excerpt | remove: '<p>' | remove: '</p>' }}"/>
    <meta name="twitter:description" content="{{ page.excerpt | remove: '<p>' | remove: '</p>' }}">
  {% endif %}

  <!-- CSS -->
  <link rel="stylesheet" href={{ "/assets/css/poole.css?201703132232" | relative_url }}>
  <link rel="stylesheet" href={{ "/assets/css/syntax.css?201703132232" | relative_url }}>
  <link rel="stylesheet" href={{ "/assets/css/lanyon.css?201703132232" | relative_url }}>
  <link href="https://fonts.googleapis.com/css?family=Karma:400,400i,700,700i" rel="stylesheet">

  {% if page.custom_css %}
   {% for css_file in page.custom_css %}
     <link rel="stylesheet" href='/assets/css/{{ css_file }}.css?201703132232'>
    {% endfor %}
  {% endif %}

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href={{ "/assets/apple-touch-icon-precomposed.png" | relative_url }}>
  <link rel="shortcut icon" href={{ "/assets/favicon.ico" | relative_url }}>

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
</head>
