.container.post-content {
  max-width: 100%;
  width: 100%;
}
#viz-wrapper {
  height: 5000px;
  width: 100%;
  margin: 3rem 0;
  overflow-y: hidden;
  overflow-x: scroll;
}
#viz {
  min-width: 100%;
  white-space: nowrap;
}
#viz svg {
}

#trigger-1 {
  min-height: 1px;
}
